section.add
    .add-close
        img(src="assets/images/icon_close.svg")
    .wrap
        form.add-form
            p.add-text Каждый код с новой строки 
            textarea.add-codes
            input(type="submit" value="Добавить").add-button