section.codes
  .wrap
    p.codes-counter Осталось 100
    .codes-body
      .codes-capsule
        p.codes-code 748A20fz
      .codes-capsule
        p.codes-code 688C89EC
      .codes-capsule
        p.codes-code 58AA225B
      .codes-capsule
        p.codes-code 4BDC8498
      .codes-capsule
        p.codes-code 3BE24F6B
      .codes-capsule
        p.codes-code 248A20fz
      .codes-capsule
        p.codes-code 1BE24F6B
      .codes-capsule
        p.codes-code 748A20fz
      .codes-capsule
        p.codes-code 748A20fz

    a(href="http://alexey-chernov.ru/" target="_blank").autograph
      img(src="http://alexey-chernov.ru/assets/images/logo.svg")