section.history
    .wrap
        .history-body
            .history-block
                p.history-date 26.02.2020
                ul.history-items
                    li.history-item
                        p.history-item__code.used 7F130AB
                    li.history-item
                        p.history-item__code.used 7F130AB
                    li.history-item
                        p.history-item__code.used 7F130AB
                    li.history-item
                        p.history-item__code.added 7F130AB
                    li.history-item
                        p.history-item__code.added 7F130AB
                    li.history-item
                        p.history-item__code.added 7F130AB
                    li.history-item
                        p.history-item__code.added 7F130AB
            .history-block
                p.history-date 22.02.2020
                ul.history-items
                    li.history-item
                        p.history-item__code.used 7F130AB
                    li.history-item
                        p.history-item__code.used 7F130AB
                    li.history-item
                        p.history-item__code.used 7F130AB
                    li.history-item
                        p.history-item__code.added 7F130AB
                    li.history-item
                        p.history-item__code.added 7F130AB
                    li.history-item
                        p.history-item__code.added 7F130AB
                    li.history-item
                        p.history-item__code.added 7F130AB
            .history-block
                p.history-date 17.02.2020
                ul.history-items
                    li.history-item
                        p.history-item__code.used 7F130AB
                    li.history-item
                        p.history-item__code.used 7F130AB
                    li.history-item
                        p.history-item__code.used 7F130AB
                    li.history-item
                        p.history-item__code.added 7F130AB
                    li.history-item
                        p.history-item__code.added 7F130AB
                    li.history-item
                        p.history-item__code.added 7F130AB
                    li.history-item
                        p.history-item__code.added 7F130AB
            .history-block
                p.history-date 01.01.2020
                ul.history-items
                    li.history-item
                        p.history-item__code.used 7F130AB
                    li.history-item
                        p.history-item__code.used 7F130AB
                    li.history-item
                        p.history-item__code.used 7F130AB
                    li.history-item
                        p.history-item__code.added 7F130AB
                    li.history-item
                        p.history-item__code.added 7F130AB
                    li.history-item
                        p.history-item__code.added 7F130AB
                    li.history-item
                        p.history-item__code.added 7F130AB
                    li.history-item
                        p.history-item__code.added 7F130AB
                    li.history-item
                        p.history-item__code.added 7F130AB
                    li.history-item
                        p.history-item__code.added 7F130AB
                    li.history-item
                        p.history-item__code.added 7F130AB
                    li.history-item
                        p.history-item__code.added 7F130AB
                    li.history-item
                        p.history-item__code.added 7F130AB
                    li.history-item
                        p.history-item__code.added 7F130AB
                    li.history-item
                        p.history-item__code.added 7F130AB
                    li.history-item
                        p.history-item__code.added 7F130AB
                    li.history-item
                        p.history-item__code.added 7F130AB
                    li.history-item
                        p.history-item__code.added 7F130AB
                    li.history-item
                        p.history-item__code.added 7F130AB
                    li.history-item
                        p.history-item__code.added 7F130AB
                    li.history-item
                        p.history-item__code.added 7F130AB
                    li.history-item
                        p.history-item__code.added 7F130AB
                    li.history-item
                        p.history-item__code.added 7F130AB
                    li.history-item
                        p.history-item__code.added 7F130AB
                    li.history-item
                        p.history-item__code.added 7F130AB
                    li.history-item
                        p.history-item__code.added 7F130AB
                    li.history-item
                        p.history-item__code.added 7F130AB
                    li.history-item
                        p.history-item__code.added 7F130AB
                    li.history-item
                        p.history-item__code.added 7F130AB
                    li.history-item
                        p.history-item__code.added 7F130AB
                    li.history-item
                        p.history-item__code.added 7F130AB
                    li.history-item
                        p.history-item__code.added 7F130AB
                    li.history-item
                        p.history-item__code.added 7F130AB
                    li.history-item
                        p.history-item__code.added 7F130AB
                    li.history-item
                        p.history-item__code.added 7F130AB
                    li.history-item
                        p.history-item__code.added 7F130AB
                    li.history-item
                        p.history-item__code.added 7F130AB
                    li.history-item
                        p.history-item__code.added 7F130AB
                    li.history-item
                        p.history-item__code.added 7F130AB