.user
    .user__avatar(style="background-image: url('assets/images/avatar.jpg');")
    .user__name Alexey Chernov

    ul.user-list
        li.user-list__item.history
            .user-container
                img(src="assets/images/icon_history.svg")
                p Использованные
        li.user-list__item.logout
            .user-container
                img(src="assets/images/icon_logout.svg")
                p Выйти