extends ../layouts/default

block head

block content	
	main.main
		include ../blocks/header
		include ../blocks/add
		include ../blocks/app
		include ../blocks/messages

	+script('common.min')
	+script('main')
